/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #000000;
}

p {
    line-height: 1.6;
}

.back {
    background-color: rgb(16, 39, 52)
}

header {
    text-align: center;
    background-color: #ffffff;
    max-width: 40%;
    margin: 0 auto;
    padding: 1%;
    margin-bottom: 7px;
}

.category-container {
    margin: 0 auto;
    /* Center the category-container */
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    max-width: 120%;
    background-color: rgb(237, 236, 236);
}

.category {
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    display: none;
    max-width: 120%;
}

.recipe {
    margin-left: 40px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    max-width: 120%;
}

.ingredients-list {
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
}

.ingredients-list li::before {
    content: '\2022';
    /* Unicode character for a bullet point */
    color: #4285f4;
    /* Set the bullet point color */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.details {
    margin-left: 20px;
    /* Indent details content */
}

.recipe:nth-child(odd) {
    background-color: #dadfe1;
    /* White background for odd-numbered recipes */
}

.recipe:nth-child(even) {
    background-color: #b9c6db;
    /* Slightly grey background for even-numbered recipes */
}